<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PoetryServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>CreateProblemServlet</description>
    <display-name>CreateProblemServlet</display-name>
    <servlet-name>CreateProblemServlet</servlet-name>
    <servlet-class>fairypoet.poetry.control.poetry.CreateProblemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProblemServlet</servlet-name>
    <url-pattern>/servlet/CreateProblemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>UserPoetryServlet</description>
    <display-name>UserPoetryServlet</display-name>
    <servlet-name>UserPoetryServlet</servlet-name>
    <servlet-class>fairypoet.poetry.control.poetry.UserPoetryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPoetryServlet</servlet-name>
    <url-pattern>/servlet/UserPoetryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>UserRegisterServlet</description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>fairypoet.poetry.control.user.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/servlet/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>UserLoginServlet</description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>fairypoet.poetry.control.user.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/servlet/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>ModPasswordServlet</description>
    <display-name>ModPasswordServlet</display-name>
    <servlet-name>ModPasswordServlet</servlet-name>
    <servlet-class>fairypoet.poetry.control.user.ModPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModPasswordServlet</servlet-name>
    <url-pattern>/servlet/ModPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>ModUnameServlet</description>
    <display-name>ModUnameServlet</display-name>
    <servlet-name>ModUnameServlet</servlet-name>
    <servlet-class>fairypoet.poetry.control.user.ModUnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModUnameServlet</servlet-name>
    <url-pattern>/servlet/ModUnameServlet</url-pattern>
  </servlet-mapping>
</web-app>